
   .responsive-font-example1
   {font-size: 3vw;
   text-align: center;} 

   .responsive-font-example2
   {font-size: 2vw;
      text-align: justify;} 

      .responsive-font-example3
      {font-size: 1vw;
         text-align: justify;} 